            <div id="map-container">
                <div id="map"><a id="geolocate" href="#" rel="Geolocation by Richard Schumann from the Noun Project" title="geolocate yourself"></a></div>
                <div id="legend"><div id="swatch"></div>Evacuation route</div>
                <div id="filters">
                    <span><input type="radio" name="filter" value="all" checked="checked">&nbsp;All</span>
                    <span><input type="radio" name="filter" value="24">&nbsp;Updated &lt; 24 hrs ago</span>
                    <!-- <span><input type="radio" name="filter" value="people">&nbsp;Accepting people</span> -->
                    <span><input type="radio" name="filter" value="pets">&nbsp;Pets allowed</span>
                    <span><input type="radio" name="filter" value="volunteers">&nbsp;Needs volunteers</span>
                    <span><input type="radio" name="filter" value="supplies">&nbsp;Needs supplies</span>
                    <span><input type="radio" name="filter" value="special">&nbsp;Special needs</span>
                </div>
                <script>
                    window.shelters = null;

                    function setFilter() {
                        if (!window.shelters) return;
                        var filterValue;
                        var filters = document.getElementsByName('filter');
                        for (var i = 0; i < filters.length; i++) {
                            if (filters[i].checked)
                                filterValue = filters[i].value;
                        }
                        var active = false;
                        window.shelters.forEach(function(s) {
                            if (filterValue === 'all')
                                active = true;
                            else if(filterValue === '24')
                                active = ((+new Date()) - (+new Date(s.last_updated))) < (24 * 60 * 60 * 1000);
                            else if(filterValue === 'people')
                                active = s.accepting;
                            else if(filterValue === 'pets')
                                active = s.pets;
                            else if(filterValue === 'volunteers')
                                active = s.needs.map(function(x) { return x.toLowerCase(); }).indexOf('volunteers') !== -1;
                            else if(filterValue === 'supplies')
                                active = s.needs.map(function(x) { return x.toLowerCase(); }).indexOf('supplies') !== -1;
                            else if(filterValue === 'special')
                                active = s.special_needs;
                            var el = s.marker.getElement();
                            if (active && el && el.className)
                                el.className = el.className.split(/\s+/).filter(function(x) { return x !== 'filtered'; }).join(' ');
                            else
                                el.className = Object.keys(el.className.split(/\s+/).reduce(function(prev, cur) { prev[cur] = true; return prev; }, { filtered: true })).join(' ');
                        });
                    }

                    mapboxgl.accessToken = '{{site.mapbox_access_token}}';
                    var map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/sbma44/cjm0qon9e7u8l2sqliotzrlmi',
                        center: [-78, 35.5],
                        zoom: 6.1
                    });

                    var oReq = new XMLHttpRequest();
                    oReq.onload = function (e) {
                        if (!(e && e.target && e.target.response && e.target.response.shelters))
                            return console.log('error fetching shelter JSON');

                        window.shelters = e.target.response.shelters;
                        for(var i = 0; i < shelters.length; i++) {
                            var el = document.createElement('div');
                            el.className = 'marker';
                            var phone = shelters[i].cleanPhone.trim();
                            if (((/[^\d]/.test(phone)) || (phone.replace(/0+/g, '').length === 0)) && shelters[i].phone)
                                phone = shelters[i].phone.replace(/[^\d]/g, '');
                            var note = shelters[i].notes;
                            var petNote = shelters[i].pets_notes;
                            var html = '<h2>' + shelters[i].shelter + '</h2>';
                            if (shelters[i].address) html += '<div class="address">' + shelters[i].address + '</div>';
                            if (phone) html += '<a class="phone" href="tel:' + phone + '">' + shelters[i].phone + '</a>';
                            if (shelters[i].address) html += '<a class="directions" target="_blank" href="https://www.google.com/maps/dir/current+location/' + encodeURIComponent(shelters[i].address) + '">Directions</a>';
                            if (note) html += '<div class="note">' + note + '</div>';
                            if (petNote) html += '<div class="petNote">Pets: ' + petNote + '</div>';
                            var popup = new mapboxgl.Popup({ offset: 25 })
                                .setHTML(html);
                            shelters[i].marker = new mapboxgl.Marker(el)
                                .setLngLat([shelters[i].longitude, shelters[i].latitude])
                                .setPopup(popup)
                                .addTo(map);
                        }
                    };
                    oReq.open('GET', 'https://hurricane-florence-api.herokuapp.com/api/v1/shelters', true);
                    oReq.responseType = 'json';
                    oReq.send();

                    var filterRadios = document.getElementsByName('filter');
                    for(var i = 0; i< filterRadios.length; i++)
                        filterRadios[i].onclick = setFilter;

                    var geolocate = document.getElementById('geolocate');
                    if (!navigator.geolocation || !geolocate) {
                        geolocate.style.display = 'none';
                    }
                    else {
                        geolocate.onclick = function(e) {
                            navigator.geolocation.getCurrentPosition(function(pos) {
                                map.flyTo({ center: [pos.coords.longitude, pos.coords.latitude], zoom: 11});
                            });
                            return false;
                        }
                    }
                </script>
            </div>