<div id="map-container">
    <div id="map">
    </div>
    <div class="map-info">
        <h2 class="subtitle is-4">Find Closest Distribution Center</h2>
        <a id="geolocate" class="button is-fullwidth is-info is-large" href="#" rel="Geolocation by Richard Schumann from the Noun Project" title="geolocate yourself">Find my Location</a>
        
    </div>
    <script>
               
    mapboxgl.accessToken = '{{site.mapbox_access_token}}';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/sbma44/cjm0qon9e7u8l2sqliotzrlmi',
        center: [-78.8, 35.0],
        zoom: 7.3
    });
    var oReq = new XMLHttpRequest();
    oReq.onload = function (e) {
        if (!(e && e.target && e.target.response && e.target.response.distribution_points))
            return console.log('error fetching shelter JSON');
        window.pods = e.target.response.distribution_points;
        for(var i = 0; i < pods.length; i++) {
            var el = document.createElement('div');
            el.className = 'marker';
            var note = pods[i].notes;
            
            var html = '<header><p class="is-size-4 has-text-centered">' + pods[i].facility_name + '</p></header><div class="pod-details"><div class="content is-size-6 has-text-left">';
            if (pods[i].address) html += '<div class="address">' + pods[i].address + '</div>';
            if (pods[i].address) html += '<a class="directions button is-link" target="_blank" href="https://www.google.com/maps/dir/current+location/' + encodeURIComponent(pods[i].address) + '">Directions</a>';
            if (note) html += '<div class="note">' + note + '</div>';
            html += '</div></div>';
            var popup = new mapboxgl.Popup({ offset: 25 })
                .setHTML(html);
            pods[i].marker = new mapboxgl.Marker(el)
                .setLngLat([pods[i].longitude, pods[i].latitude])
                .setPopup(popup)
                .addTo(map);
        }
    };
    oReq.open('GET', 'https://hurricane-florence-api.herokuapp.com/api/v1/distribution_points', true);
    oReq.responseType = 'json';
    oReq.send();

    var navControl = new mapboxgl.NavigationControl();
    map.addControl(navControl, 'top-right');
   
    var geolocate = document.getElementById('geolocate');
    if (!navigator.geolocation || !geolocate) {
        geolocate.style.display = 'none';
    }
    else {
        geolocate.onclick = function(e) {
            navigator.geolocation.getCurrentPosition(function(pos) {
                map.flyTo({ center: [pos.coords.longitude, pos.coords.latitude], zoom: 11});
            });
            return false;
        }
    }
    </script>
</div>