<div id="map-container" class="shelter-map_container">
    <div id="map">
    </div>
    <div class="shelter-map_info">
        <div class="map-controls">
            <button id="geolocate" class="button is-info is-small"  rel="Geolocation by Richard Schumann from the Noun Project" title="geolocate yourself">Shelters Nearby</button>
            <button id="ShelterFilterToggle" class="button is-info is-small" onclick="toggleFiltersVisibility();">Shelter Filters</button>
        </div>
        <ul id="ShelterFiltersUL" class="filters tabs">
            <li class="filter-item" id="ShelterFilter_All" onclick="onFilterClick(this.id)">All</li>
            <li class="filter-item" id="ShelterFilter_Accepting" onclick="onFilterClick(this.id)">Accepting</li>
            <li class="filter-item" id="ShelterFilter_SpecialNeeds" onclick="onFilterClick(this.id)">Special Needs</li>
            <li class="filter-item" id="ShelterFilter_PetsOK" onclick="onFilterClick(this.id)">Pets allowed</li>
            <li class="filter-item" id="ShelterFilter_SuppliesNeeded" onclick="onFilterClick(this.id)">Supplies Needed</li>
            <li class="filter-item" id="ShelterFilter_VolunteersNeeded" onclick="onFilterClick(this.id)">Volunteers Needed</li>
            <li class="filter-item" id="ShelterFilter_RecentlyUpdated" onclick="onFilterClick(this.id)">Recently Updated</li>
        </ul>
    </div>
</div>
<script>
    window.shelters = null;
    let sheltersShown = [];
    let currentFilterActions = [];
    const DateTime = luxon.DateTime;
    const hours = (val) => 1000 * 60 * 60 * val;

    mapboxgl.accessToken = '{{site.mapbox_access_token}}';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/sbma44/cjm0qon9e7u8l2sqliotzrlmi',
        center: [-78, 35.5],
        zoom: 6.1
    });
    var oReq = new XMLHttpRequest();
    oReq.onload = function (e) {
        if (!(e && e.target && e.target.response && e.target.response.shelters))
            return console.error('error fetching shelter JSON');
        window.shelters = sheltersShown = e.target.response.shelters;
        populateMarkers(sheltersShown);
    };
    oReq.open('GET', 'https://irma-api.herokuapp.com/api/v1/shelters', true);
    oReq.responseType = 'json';
    oReq.send();
    var filterRadios = document.getElementsByName('filter');
    for (var i = 0; i < filterRadios.length; i++)
        filterRadios[i].onclick = setFilter;
    var geolocate = document.getElementById('geolocate');
    if (!navigator.geolocation || !geolocate) {
        geolocate.style.display = 'none';
    }
    else {
        geolocate.onclick = function (e) {
            navigator.geolocation.getCurrentPosition(function (pos) {
                map.flyTo({center: [pos.coords.longitude, pos.coords.latitude], zoom: 11});
            });
            return false;
        }
    }
    var navControl = new mapboxgl.NavigationControl();
    map.addControl(navControl, 'top-right');

    /**
     * Builds a HTML template from a shelter object.
     * @params shelter
     * @returns {string}
     */
    function popupTemplate(shelter) {

        const phoneLink = `
            <div class="phone">
                <svg id="icon-phone" height="32px" viewBox="0 0 32 32" aria-label="phone icon">
                    <path d="M22 20c-2 2-2 4-4 4s-4-2-6-4-4-4-4-6 2-2 4-4-4-8-6-8-6 6-6 6c0 4 4.109 12.109 8 16s12 8 16 8c0 0 6-4 6-6s-6-8-8-6z"></path>
                </svg>
                <div class="phone-details" aria-label="shelter phone number">
                    <a class="phone" role="link" href="tel:${shelter.cleanPhone}">${shelter.phone}</a>
                </div>
            </div>
        `;

        const address = `
            <div class="address">
                <svg id="icon-address" height="32px" viewBox="0 0 32 32" aria-label="address icon">
                    <path d="M0 32h16v-32h-16v32zM10 4h4v4h-4v-4zM10 12h4v4h-4v-4zM10 20h4v4h-4v-4zM2 4h4v4h-4v-4zM2 12h4v4h-4v-4zM2 20h4v4h-4v-4zM18 10h14v2h-14zM18 32h4v-8h6v8h4v-18h-14z"></path>
                </svg>
                <div class="address-details" aria-label="address details">
                    ${isFullAddress(shelter) ? shelter.address : shelterAddressToString(shelter)}
                </div>
            </div>
        `;

        const note = `
            <div class="note">
                <label><strong>Note:</strong></label>
                <div class="note-details" aria-label="Notes for shelter">
                    ${urlsToAnchors(shelter.notes)}
                </div>
            </div>
        `;

        const petsNote = `
            <div class="note">
                <label><strong>Pets:</strong></label>
                <div class="note-details" aria-label="Notes for shelter pets policy">
                    ${urlsToAnchors(shelter.pets_notes)}
                </div>
            </div>
        `;

        return `
            <header class="popup-header">
                <p class="is-size-4 has-text-centered">${shelter.shelter}</p>
            </header>
            <div class="shelter-details">
                <div class="content is-size-6 has-text-left">
                    ${!!shelter.address ? address : ``}
                    ${isPhone(shelter) ? phoneLink : ``}
                    ${!!shelter.notes ? note : ``}
                    ${!!shelter.pets_notes ? petsNote : ``}
                    <div class="controls">
                        ${!!shelter.address
                        ? `
                            <a class="directions button is-link" target="_blank" href="https://www.google.com/maps/dir/current+location/${encodeURIComponent(shelterAddressToString(shelter))}" aria-label="Get directions button">
                                <svg id="icon-directions" height="100%" viewBox="0 0 32 32" aria-label="directions icon">
                                    <path d="M17 32c-0.072 0-0.144-0.008-0.217-0.024-0.458-0.102-0.783-0.507-0.783-0.976v-15h-15c-0.469 0-0.875-0.326-0.976-0.783s0.129-0.925 0.553-1.123l30-14c0.381-0.178 0.833-0.098 1.13 0.199s0.377 0.749 0.199 1.13l-14 30c-0.167 0.358-0.524 0.577-0.906 0.577zM5.508 14h11.492c0.552 0 1 0.448 1 1v11.492l10.931-23.423-23.423 10.931z"></path>
                                </svg>
                                <div class="separator"></div>
                                <label>Directions</label>
                            </a>
                        `
                        : ``}
                    </div>
                </div>
            </div>
        `;
    }


    /**
     * https://github.com/hurricane-response/florence-api/issues/53
     *
     * Joins the different address segments into a string,
     * if state has no value it will just join the zipcode after the city
     * @param shelter
     * @returns {string}
     */
    function shelterAddressToString(shelter) {

        return [
            shelter.address,
            shelter.city,
            shelter.state
            + ' '
            + shelter.zip
        ].join(', ');
    }

    /**
     * replaces URLs in a string with anchor elements
     *
     * @param content {string}
     * @returns {string}
     */
    function urlsToAnchors(content) {
        if (!content) {
            return void 0;
        }
        const urlMatchPattern = /(?:(?:https?):\/\/|www\.)(?:\([-A-Z0-9+&@#\/%=~_|$?!:,.]*\)|[-A-Z0-9+&@#\/%=~_|$?!:,.])*(?:\([-A-Z0-9+&@#\/%=~_|$?!:,.]*\)|[A-Z0-9+&@#\/%=~_|$])/igm;
        const urls = content.match(urlMatchPattern);

        if (!urls) {
            return content;
        }

        urls.forEach(url => {
            content = content.replace(url, transformToAnchor(url));
        });
        return content;

        /**
         * replaces url with an html anchor
         * @param url
         * @returns {string}
         */
        function transformToAnchor(url) {
            return `<a role="link" href="${url}" target="_blank">${url}</a>`
        }

    }

    /**
     * https://github.com/hurricane-response/florence-api/issues/53
     *
     * Checks if address has "," to signify that it contains more than just the street number.
     * @param shelter
     * @returns {boolean}
     */
    function isFullAddress(shelter) {
        if (!shelter.address){
            return false;
        }

        return shelter.address.split(',').length > 1;
    }

    /**
     * Verifies there is a phone number received that is not "0000000000"
     * @param shelter
     * @returns {boolean}
     */
    function isPhone(shelter) {
        let phone = shelter.cleanPhone.trim();

        if (((/[^\d]/.test(phone)) || (phone.replace(/0+/g, '').length === 0)) && shelter.phone) {
            phone = shelter.phone.replace(/[^\d]/g, '');
        }

        return phone.replace(/[\-\+\(\)\s0]+/g, '').length !== 0;
    }

    /**
     * (re)populates the map with markers.
     *
     * Note: sh3lters is spelled this way to prevent window object collision.
     *
     * @param sh3lters
     * @return void
     */
    function populateMarkers(sh3lters) {
        sheltersShown.forEach(shelter => {
            if (shelter.marker) {
                shelter.marker.remove();
            }
        });
        sheltersShown = sh3lters;
        for (var i = 0; i < sheltersShown.length; i++) {
            var el = document.createElement('div');
            el.className = 'marker';
            var popup = new mapboxgl.Popup({
                offset: 25,
                className: 'shelter-popup'
            }).setHTML(popupTemplate(sheltersShown[i]));
            sheltersShown[i].marker = new mapboxgl.Marker(el)
                .setLngLat([sheltersShown[i].longitude, sheltersShown[i].latitude])
                .setPopup(popup)
                .addTo(map);
        }
    }

    /**
     * Filters
     */

    function toggleFiltersVisibility() {
        const filtersRef = document.getElementById('ShelterFiltersUL');
        const filtersButtonRef = document.getElementById('ShelterFilterToggle');

        if (filtersRef.className.match('visible')) {
            filtersRef.className = filtersRef.className.replace(' visible', '');
            filtersButtonRef.className = filtersButtonRef.className.replace(' active', '');

        } else {
            filtersRef.className = filtersRef.className.concat(' visible');
            filtersButtonRef.className = filtersButtonRef.className.concat(' active');
        }
    }

    function onFilterClick(id) {
        const filterButtonRef = document.getElementById(id);
        const action = id.split('_')[1];

        if (filterButtonRef.className.match('active') ) {
            currentFilterActions = currentFilterActions.filter(val => val !== action);

            if (!ifIsAll()) {
                const nextSheltersShown = currentFilterActions.reduce((nextShown, action) => {
                    return nextShown = filterReducer(nextShown, action);
                }, shelters);

                populateMarkers(nextSheltersShown);

            }
            filterButtonRef.className = filterButtonRef.className.replace(' active', '');

        } else {
            currentFilterActions = [action, ...currentFilterActions];
            if (!ifIsAll()) {
                const nextSheltersShown = currentFilterActions.reduce((nextShown, action) => {
                    return nextShown = filterReducer(nextShown, action);
                }, shelters);

                populateMarkers(nextSheltersShown);

            }
            filterButtonRef.className = filterButtonRef.className.concat(' active');
        }

        function ifIsAll() {
            if (currentFilterActions.includes('All')) {
                populateMarkers(filterReducer(sheltersShown, 'All'));
                return true;
            }
            return false;
        }
    }

    function filterReducer(current, action) {
        switch(action) {
            case'All':
                return shelters;
            case'SpecialNeeds':
                return current.filter(shelter => shelter.special_needs === true);
            case'PetsOK':
                return current.filter(shelter => (shelter.pets && shelter.pets !== 'No' && shelter.pets !== false));
            case'Accepting':
                return current.filter(shelter => shelter.accepting === true);
            case'SuppliesNeeded':
                return current.filter(shelter => (!!shelter.supply_needs && shelter.supply_needs.length > 0)); // not sure how the data comes back
            case'VolunteersNeeded':
                return current.filter(shelter => (!!shelter.volunteer_needs && shelter.volunteer_needs.length > 0)); // not sure how the data comes back
            case'RecentlyUpdated':
                // Its not, technically random... If you put the same time in, it should produce the same output. heh..  -Rex
                return current.filter(shelters => {
                    const now = DateTime.local().ts;
                    const updated = DateTime.fromISO(shelters.updated_at).ts;
                    return (now - updated) < hours(12);
                });
            default:
                console.error('Filter action not registered: ', action);
                return current;
        }
    }
</script>