/**
  Popup
 */

.mapboxgl-popup-close-button {
  color: $popup-close-button--color;
  font-size: 2em;
}

.mapboxgl-popup-content {
  max-width: 100vw;
  max-height: 80vh;
  overflow: auto;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: $blue;
}

.address, .phone {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 12px;

  svg {
    margin-right: 15px;
  }
}

.address-details, .phone-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.controls a .separator {
  border-right: $popup-control-separator;
  height: 32px;
  margin-right: 13px;
}

.note {
  margin-top: 1.5em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 16px 0 16px 0;
}

.note-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 32px;

  svg {
    margin-right: 15px;
  }

  label {
    font-weight: 700;
  }
}

/**
  ICONS
*/

#icon-directions {
  fill: $popup-icon--fill;
  margin-right: 15px;
}