//
//
//

$blue: hsl(217, 71%, 47%);


// POPUP

$popup-close-button--color: grey;
$popup-header-font--color: white;
$popup-control-separator: 1px solid white;
$popup-icon--fill: white;


// Shelter Map

$evacuation-route-color: rgb(251, 177, 178);