---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "variables";
@import "bulma";
@import "extensions/checkradio";

main {
  margin: 3em 0;
}

.hero-home {
  @extend .hero;
  .title,
  .subtitle {
    font-weight: 700;
  }
}

.notification {
  border-radius: 3px;
  padding: 1.25rem 0;
  position: relative;
  text-align: center;
}

hero.is-large .hero-body, .is-large.hero-home .hero-body {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

#map-container #map { 
  width: 100%;
  height: 800px;
  margin-bottom: 5px;
 }

 .map-info {
  position: absolute;
  top: 2.5em;
  left: 1em;
  height: 26em;
  width: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  padding: 1em;
  opacity: .9;
  .buttons {
    padding-top: 2em;
  }
 }

 

 

 #map-container #map .marker {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAApCAYAAAAiT5m3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA3ZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTExIDc5LjE1ODMyNSwgMjAxNS8wOS8xMC0wMToxMDoyMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDozNWI2ZmIyOS1jZTgwLTZlNGItYjgxYS02NjIyODdkNDljNDUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6ODEwODFBODM5MzU5MTFFNzgxNTJDMDdEODY5RUY3RDgiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6ODEwODFBODI5MzU5MTFFNzgxNTJDMDdEODY5RUY3RDgiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKFdpbmRvd3MpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MzViNmZiMjktY2U4MC02ZTRiLWI4MWEtNjYyMjg3ZDQ5YzQ1IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjM1YjZmYjI5LWNlODAtNmU0Yi1iODFhLTY2MjI4N2Q0OWM0NSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PiNEC3AAAAU7SURBVHja7FhNTGNVFL79g7YWKKEBIhECA0QWgAkL2OACWZAagQQ1QdgMSAQCy1EzMRM1M4k74yTgAIMsLLULCIKBAAsZSUxEQ4wifwMJCGRAKIGWn0J//Q6+Zx6v75VXRp2NN7lp89699zvnO+d8996nCoVC7Fk0NXtG7X/g/6xp+T8qlUrJeBqk4ebxRgfRA1wPKlmEElorfNDU1CQ5sKenh0C0JSUllvz8/NdiY2NfVqvV6TBWEwwGn3i93h83Nze/Hhsb+x3jfFgnKLNOuMcyA8lDXWVl5Y3U1NTXDQZDNQBz9Hq9SaPRqIilQCDAzs/PK3Jycm62traOO51OO+b9inleGCBbqyq+jmkRocecl/rGxsa6uLi492NiYrLgKaMO0EuLELjP52NnZ2dkxJPT09P73d3dHXh1KvSe95gw1RGoNcCDewkJCZ+ZzeasxMREZjQaw0Cp0TOwwDCOYdzzmHO3vb29H69M3FpXZzVHrx6gd00mU1tSUpKBvFTawAyBa8FSZVtb25d4ZJQCl7JG9zYa4tkKy7WIadSlQmGD0cTQq83NzR+QPZxD0jEmQ6xWazYSZQy03SD6ZD0DCy8VFrL5+Xl2cnIiOcbv97P9/f3Dvb29N/r7+6e4kpOMsS49Pb0e1EYETUQs36qtZWVlZay+vp6lpKRIi4RWy8CcGdTfTE5O1stRrUKdJgH0TQyWBc3NzWV1AEN5/WUEkq4WRhTCeykRooSEAdbS0tIXhXhCYHV2dnYRYppJCSIVN4gHq66uvoifsBE7FRUVrKioiIlzgrzGemaLxWLlVC9MQDTx8fGvYFCMeDJlNS2cl5cXMaHKy8tZZmYmg4JdirtOpyPwEg7PF+Yx2gtSdVpQUMDAhqKMzsjIYMXFxZdLB46gW4R42stGqwxScZqdnWXLy8usqqqKpaWlyYK6XS72lcPBXPgVs0HESe5OlOXoZ1JHIWwEDBsByeHfz9bW1pjb7WbPId5ZoJe88kI2STppvHg+1j3mMMKBMWBbPEkYJ6FRExMT7OjoiMqFNTQ0XGQvabZUYlI9490CX8fiGAeOj4+/g2d+uQOgcFFusYtfvubpVxwqcgRM+Q4ODoZompTHgY2NjRkoFu2v6WJ9JppXVlYuMpw8Jep5A0i9SERWV1cZdqaweQCfX1xcnBUeFC5JJkTBWFNTcx8C3wid/keOOPCUku3jrq6ue7RHS0rmzs7O+eHhoQP7qps8edpGrKDvbG9vDwppltqdguPj4z8A9JHH43lqYKwRQpZ/MzIy8lh8HFKLzlwh7CYeHF8+Raz2qTSu2+g0AuC1qampD3mKr9qPgw6HYwagQwAPXOeKQ3MgmT4AP1hYWHBKHf7CgLkD2nlHR8ctWL0mFA2ljTIbsZ3BuesBr82KDvSchSeg/F2ok1dOVOQ2f+iBa2lpqYU77IWivUn4bTbbODx+SHWrtJGMYvxHk5OTKwANRH2F4Snv7Oy8jVj9piTLaSuEoY96e3sfSiWU4rsTT/nW1lYLPHFFqm2O4kPcKN6LRHE0l7bA4ODgT1CfWxAXn1SW0zO884PiO0NDQ79EolgxMGe5t6+vz44st8HzsBKDpyFQPAaKv7iK4qiuqRy4Z3p6muL9szDeVG4on03sz7dJN66iOOr7McV7bm7Oub6+/g4o/YN0mLZFUOzZ3d1tGR0dfayE4mtdzLGwf3h4eA7JVkfxRg8gk+/Y7fZvxZvAv/FFwD8wMPA9PP4E3YaryefEuFKK5a4w0RjMH0cVfwmQ/SIQRQtGCyZufwowAFs110qMB/8WAAAAAElFTkSuQmCC);
  background-size: cover;
  width: 30px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 1.0;
}

#map-container #map .marker.filtered {
  opacity: 0.3;
}

.mapboxgl-popup-content {
  @extend .box;
  padding: 1em;
}

.pod-details {
  padding: 1em 0;
}

.directions {
  margin-top: 1em;
}

.filters {
  margin-top: 1em;
}

.note {
  margin-top: .5em;
}

.partners {
  margin-top: 2em;
}
