---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "variables";
@import "bulma";

main {
  margin: 3em 0;
}

.hero-home {
  @extend .hero;
  background-image: url('https://irma-repsonse.github.io/irmarelief-static/assets/images/irma_sat.jpg');
  .title,
  .subtitle {
    font-weight: 700;
  }
}

.notification {
  border-radius: 3px;
  padding: 1.25rem 0;
  position: relative;
  text-align: center;
}

#map {
  min-height: 800px;
}