---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "variables";
@import "bulma";

main {
  margin: 3em 0;
}

.hero-home {
  @extend .hero;
  .title,
  .subtitle {
    font-weight: 700;
  }
}

.notification {
  border-radius: 3px;
  padding: 1.25rem 0;
  position: relative;
  text-align: center;
}

hero.is-large .hero-body, .is-large.hero-home .hero-body {
  padding-bottom: 3rem;
  padding-top: 3rem;
}