<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125718262-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125718262-1');
</script>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

		<link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.github.url | prepend: site.url }}">
		<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.github.url | prepend: site.url }}">
		{% seo %}
	</head>
	<body>
		<nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
			<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item" href="{{site.url}}">
						<img src="{{site.baseurl}}/assets/images/brigade_sm.png" alt="Code for America Hurricane Florence Response" width="78"
						 height="28">
					</a>
					<a class="navbar-item" href="{{site.url}}">
						Home
					</a>
				</div>
				<div class="navbar-menu is-active">
					<div class="navbar-start">
					</div>
					<div class="navbar-end">
					</div>
				</div>
		</nav>
		<div class="level has-background-danger is-size-4">
				<div class="level-item has-text-centered has-text-light">
					Text your zipcode to&#160;<a class="has-text-grey-lighter" href="sms:8035004835"> 1-803-500-4835 </a>&#160; for
					local shelter information.
				</div>
			</div>
		<section class="hero is-large">
			
				<div class="container">
				<h1 class="title is-centered">Hurricane Florence Response</h1>
					<iframe id="googlemap" 
                title="Florence Shelters"
                width="100%"
                height="800px"
                src="https://florenceshelters.com/" frameborder="0" allow="geolocation"></iframe>
				
				</div>
		</section>
		<main role="main">
			<section class="section">
				<div class="container is-fluid">
					<h2 class="title is-2">Resource Links</h2>
					<h3 class="title is-3">Do You Need Help?</h3>
					<div class="columns">
						{% assign pages_list = site.pages %}
						{% for node in pages_list %}
						{% if node.title != null %}
						{% if node.layout == "page" %}
						<div class="column">
							<a class="button is-large is-info" href="{{ node.url }}">{{ node.title }}</a>
						</div>
						{% endif %}
						{% endif %}
						{% endfor %}
					</div>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<div class="columns">
					<div class="column">
							<p class="content has-text-centered">
								<a class="has-text-weight-bold is-size-3" href="https://www.fema.gov/news-release/2018/09/16/how-you-can-help-disaster-survivors">How to Help
								</a> 
							</p>
						</div>
						<div class="column">
							<p class="content has-text-centered">
								<a class="has-text-weight-bold is-size-3" href="https://www.fema.gov/florence-rumors">Hurricane Florence Rumor Control
								</a> 
							</p>
						</div>
						<div class="column">
							<p class="content has-text-centered">
								<a class="has-text-weight-bold is-size-3" href="https://www.us-cert.gov/ncas/current-activity/2018/09/14/Potential-Hurricane-Florence-Phishing-Scams">Potential Hurricane Florence Phishing Scams
								</a> 
							</p>
						</div>
						<div class="column">
						<p class="content has-text-centered">
							<a class="has-text-weight-bold is-size-3" href="https://www.newsobserver.com/news/local/article218334165.html">
							ICE won’t arrest or detain evacuees
							</a> 
						</p>
					</div>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<div class="box content has-text-centered">
					<h2 class="title is-2">
						Need Rescue?
					</h2>
					<a href="https://crowdsourcerescue.com/campaigns/home/46?scope_campaigns=46">
					<img src="{{site.baseurl}}/assets/images/crowdsourcerescue-horizontal-blue_sm.png" alt="CrowdSource Rescue" target="_blank">
					</a>
						
					</div>
				</div>
			</section>
			<section class="section">
				<div class="container is-fluid">
					<h2 class="title is-2">
						State Resources
					</h2>
					<div class="columns">
						{% for state in site.states %}
						<div class="column">
							<a class="button is-large is-info" href="{{ site.url }}{{ state.permalink }}">
								{{ state.name }}
							</a>
						</div>
						{% endfor %}
					</div>
				</div>

			</section>
		</main>
		<section class="hero is-primary is-small">
			<div class="hero-body">
				<div class="container has-text-centered">
					<h3 class="title is-3">
						See Something Missing?
					</h3>
					<p>To add more resources to these lists, please submit them here.</p>
					<p><a class="button is-light" href="https://github.com/hurricane-response/florence_website">GitHub repo</a></p>
				</div>
			</div>
		</section>
		<footer class="footer" role="contentinfo">
			<div class="container has-text-centered">
				<h3 class="title is-3">What is this?</h3>
				<p>This site is built by <a href="https://codeforamerica.org">Code for America</a> brigades from across the
					country.
					To participate in data collection, curation, or any other help, please join us - <a href="https://bit.ly/2N6YVYD">C4A
						Florence Volunteers</a>.
				</p>
				<img src="{{site.baseurl}}/assets/images/CEDR_logo.jpg" width="163" />
				<p>Thank you to the <a href="https://cedrdigitalcorps.org/" target="_blank">CEDR Digital Corps</a> for
					collaborating on data collection.</p>
			</div>
		</footer>
	</body>

</html>