<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.github.url | prepend: site.url }}">
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.github.url | prepend: site.url }}">
    </head>

    <body>
        <nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{{site.baseurl}}">
                        <img src="{{site.baseurl}}/assets/images/brigade_sm.png" alt="Code for America Hurricane Florence Response"
                            width="78" height="28">
                    </a>
                </div>
                <div class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="{{site.url}}">
                            Home
                        </a>
                    </div>
                    <div class="navbar-end">
                        <a class="navbar-item" href="https://github.com/hurricane-response/florence_website">
                            GitHub
                        </a>
                    </div>
                </div>
        </nav>
        <main role="main">
            <div id="map" class="map container">
                <div class="columns">
                    <div class="column is-one-quarter sidebar-help">
                        <div class="map-form field">
                            <label class="label" for="search">Shelter Search</label>
                            <input type="text" name="search" id="search" placeholder="Search">
                        </div>
                        <div class="halp-list">
                            <ul id="list"></ul>
                        </div>
                    </div>
                    <div class="column">
                            <div class="halp-map" id="map"></div>
                    </div>
                </div>
        </main>
        <section class="hero is-primary is-small">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h3 class="title is-3">
                        See Something Missing?
                    </h3>
                    <p>To add more resources to these lists, please submit them here.</p>
                    <p><a class="button is-light" href="https://github.com/hurricane-response/florence_website">GitHub repo</a></p>
                </div>
            </div>
        </section>
        <footer class="footer" role="contentinfo">
            <div class="container has-text-centered">
                <h3 class="title is-3">What is this?</h3>
                <p>This site is built by <a href="https://codeforamerica.org">Code for America</a> brigades from across the country. To participate in data collection, curation, or any other help, please join us - <a href="https://bit.ly/2N6YVYD">C4A Florence Volunteers</a>.
                </p>
            </div>
        </footer>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.auto.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/zenscroll/4.0.0/zenscroll-min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5-history-api/4.2.8/history.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jets/0.14.0/jets.min.js"></script>
  <script type="text/javascript" src="//unpkg.com/in-view@0.6.1/dist/in-view.min.js"></script>
  <script type="text/javascript" src="//cdn.rawgit.com/visionmedia/page.js/master/page.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/map/anchorme.min.js"></script>  

  <script type="text/javascript" src="{{site.baseurl}}/assets/map/config.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/map/markers-collection.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/map/utils.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/map/views.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/map/shelters.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/map/needs.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/map/main.js"></script>
    </body>
</html>